header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 1px 100px;
    background: #000000d1;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header img {
    max-width: 150px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    text-decoration: none;
    margin-left: 25px;
}

header li a {
    text-decoration: none;
    color: aliceblue;
    transition: 0.35s;
}

header ul li a:hover {
    color: #fbff1b;
    text-decoration: underline;
    font-size: 17px;
}

header .menu {
    display: none;
}

header .menu i {
    font-size: 30px;
}