@media screen and (max-width: 768px) {
    header .menu {
        display: block;
        z-index: 1;
        cursor: pointer;
    }

    header .menu i {
        font-size: 40px;
    }

    header {
        padding: 15px 30px;
        align-items: center;
    }

    #menu-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #000000d1;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 1;
    }

    #menu-links li {
        text-align: end;
        width: 100%;
        margin-left: -15px;
    }

    #menu-links li a {
        display: block;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        font-size: 45px;
        transition: 0.35s;
    }

    #menu-links li a:hover {
        font-size: 50px;
    }

    #menu-links.active {
        display: block;
    }

    .avatar img {
        display: none;
    }

    .textoInicio {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textoInicio .caixasTexto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .caixasTexto p {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btns {
        margin-top: 25px;
    }

    .btns button {
        padding: 15px 120px;
    }

    .sobre .textoSobre {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: end;
        width: 420px;
    }

    .textoSobre .sobreMim h1 {
        font-size: 30px;
        margin-left:15px;
    }

    .textoSobre .sobreMim h3 {
        margin-top: 5px;
        font-size: 20px;
        margin-left: 15px;
    }

    .textoSobre .sobreMim p {
        width: 400px;
        font-size: 14px;
        margin-left: 15px;
    }

    .skills .soft-skills h3 {
        margin-top: 10px;
        font-size: 23px;
        margin-left: -185px;
    }

    .soft-skills .algumas-softSkills {
        margin-top: 5px;
        margin-left: -185px;
    }

    .soft-skills .comunicacao, 
    .soft-skills .criatividade, 
    .soft-skills .resolucao, 
    .soft-skills .adaptabilidade, 
    .soft-skills .detalhismo, 
    .soft-skills .pontualidade, 
    .soft-skills .colaboracao {
        margin-top: 1px;
    }

    .soft-skills .comunicacao p, 
    .soft-skills .criatividade p, 
    .soft-skills .resolucao p, 
    .soft-skills .adaptabilidade p, 
    .soft-skills .detalhismo p, 
    .soft-skills .pontualidade p, 
    .soft-skills .colaboracao p {
        font-size: 14px;
        margin-left: 5px;
    }

    .soft-skills .comunicacao i, 
    .soft-skills .criatividade i, 
    .soft-skills .resolucao i, 
    .soft-skills .adaptabilidade i, 
    .soft-skills .detalhismo i, 
    .soft-skills .pontualidade i, 
    .soft-skills .colaboracao i {
        font-size: 15px;
    }

    .skills .hard-skills {
        margin-top: -25px;
        margin-left: -185px;
    }

    .skills .hard-skills h3 {
        font-size: 25px;
    }

    .skills .hard-skills .algumas-hardSkills {
        margin-top: 5px;
    }

    .skills .hard-skills .hard-skills2 {
        margin-top: 10px;
    }

    .skills .hard-skills .html i, 
    .skills .hard-skills .css i, 
    .skills .hard-skills .javascript i, 
    .skills .hard-skills .php i, 
    .skills .hard-skills .bootstrap i, 
    .skills .hard-skills .tailwind i, 
    .skills .hard-skills .git i, 
    .skills .hard-skills .github i {
        font-size: 50px;
    }

    .servicos .texto h1 {
        font-size: 25px;
    }

    .servicos .alguns-servicos {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .alguns-servicos .personalizacao, .alguns-servicos .suporte {
        margin-left: 0;
        margin-top: 20px;
    }

    .alguns-servicos .desenvolvimento {
        padding: 6px 10px;
    }

    .alguns-servicos .personalizacao {
        padding: 12px 10px;
    }

    .alguns-servicos .suporte {
        padding: 7px 10px;
    }

    .alguns-servicos .desenvolvimento h4 {
        margin-top: 6px;
    }

    .alguns-servicos .desenvolvimento p {
        margin-top: 5px;
    }

    .alguns-servicos .personalizacao h4 {
        margin-top: 6px;
    }

    .alguns-servicos .personalizacao p {
        margin-top: 5px;
    }

    .alguns-servicos .suporte h4 {
        margin-top: 6px;
    }

    .alguns-servicos .suporte p {
        margin-top: 5px;
    }
}