.servicos {
    position: relative;
    height: 100vh;
    background: #030303;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.texto h1 {
    color: aliceblue;
    font-size: 35px;
    font-weight: 800;
}

.texto p {
    color: #fbff1b;
    font-size: 20px;
    margin-top: 10px;
}

.alguns-servicos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.desenvolvimento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #151515;
    box-shadow: 0px 1px 10px rgba(43, 43, 43, 0.898);
    padding: 25px 7px;
    border-radius: 15px;
}

.desenvolvimento i {
    font-size: 50px;
    background: #f2f519;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.959);
    padding: 3px;
    border-radius: 10px;
}

.desenvolvimento h4 {
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
}

.desenvolvimento p {
    color: aliceblue;
    width: 300px;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.suporte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #151515;
    box-shadow: 0px 1px 10px rgba(43, 43, 43, 0.898);
    padding: 25px 7px;
    border-radius: 15px;
}

.suporte i {
    font-size: 50px;
    background: #f2f519;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.959);
    padding: 3px;
    border-radius: 10px;
}

.suporte h4 {
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
}

.suporte p {
    color: aliceblue;
    width: 300px;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.personalizacao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #151515;
    box-shadow: 0px 1px 10px rgba(43, 43, 43, 0.898);
    padding: 33px 7px;
    border-radius: 15px;
}

.personalizacao i {
    font-size: 50px;
    background: #f2f519;
    box-shadow: 0px 1px 10px rgba(20, 20, 20, 0.959);
    padding: 3px;
    border-radius: 10px;
}

.personalizacao h4 {
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
}

.personalizacao p {
    color: aliceblue;
    width: 300px;
    font-size: 13px;
    text-align: center;
    margin-top: 15px;
}

.personalizacao, .suporte {
    margin-left: 45px;
}

.desenvolvimento, .personalizacao, .suporte {
    transition: 0.5s;
}

.desenvolvimento:hover {
    margin-top: -30px;
}
.personalizacao:hover {
    margin-top: -30px;
}
.suporte:hover {
    margin-top: -30px;
}