.sobre {
    position: relative;
    height: 100vh;
    background: linear-gradient(#000000, #2a2a2a);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textoSobre {
    display: flex;
    align-items: baseline;
    width: 1300px;
}

.sobreMim h1 {
    color: aliceblue;
    font-size: 35px;
    font-weight: 700;
    margin-top: 12px;
}

.sobreMim h3 {
    color: #fbff1b;
    font-size: 25px;
    margin-top: 15px;
}

.sobreMim p {
    width: 600px;
    font-size: 20px;
    color: aliceblue;
    margin-top: 10px;
}

.skills {
    margin-left: 200px;
}

.soft-skills h3 {
    font-size: 30px;
    color: #fbff1b;
    font-weight: 700;
}

.algumas-softSkills {
    margin-top: 15px;
    display: flex;
}

.comunicacao, .criatividade, .resolucao, 
.adaptabilidade, .detalhismo, .pontualidade, 
.colaboracao {
    display: flex;
    color: aliceblue;
    margin-top: 10px;
}

.comunicacao p, .criatividade p, .resolucao p, 
.adaptabilidade p, .detalhismo p, .pontualidade p, 
.colaboracao p {
    margin-left: 10px;
    font-size: 18px;
}

.comunicacao i, .criatividade i, .resolucao i, 
.adaptabilidade i, .detalhismo i, .pontualidade i, 
.colaboracao i {
    font-size: 20px;
}

.grupo2 {
    margin-left: 35px;
}

.hard-skills h3 {
    font-size: 30px;
    color: #fbff1b;
    font-weight: 700;
    margin-top:40px;
}

.hard-skills {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.algumas-hardSkills {
    margin-top: 25px;
}

.hard-skills1 {
    display: flex;
}

.hard-skills2 {
    display: flex;
    margin-top: 35px;
}

.html, .css, .javascript, .php, 
.bootstrap, .tailwind, .git, .github {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.html i, .css i, .javascript i, .php i, 
.bootstrap i, .tailwind i, .git i, .github i {
    font-size: 90px;
}

.html p, .css p, .javascript p, .php p, 
.bootstrap p, .tailwind p, .git p, .github p {
    color: aliceblue;
    font-size: 13px;
}

.css, .javascript, .php {
    margin-left:30px;
}

.tailwind, .git, .github {
    margin-left: 30px;
}